@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");

.App {
  display: grid;
  font-family: 'Lato', sans-serif;
  grid-row-gap: 34px;
  grid-template-columns: auto;
  justify-content: center;
  margin: 0 auto;
  max-width: 1280px;
}

.vote-up {
  background-color: #1cbbb4;
}

.vote-down {
  background-color: #ffad1d;
}

.votes-up {
  align-items: center;
  background-color: #1cbbb4;
  display: flex;
  opacity: 0.95;
  padding: 0 10px;
}

.votes-down {
  align-items: center;
  display: flex;
  background-color: #ffad1d;
  opacity: 0.95;
  justify-content: flex-end;
  padding: 0 10px;
}

.status-vote-icon {
  left: -40px;
  position: absolute;
  top: 56px;
}

.vote-icon {
  align-items: center;
  display: inline-flex;
  height: 32px;
  justify-content: center;
  margin-right: 10px;
  width: 32px;
}

.vote-radio {
  display: none;
}

.vote-radio:checked + label {
  border: 2px solid #fff;
}

.message-bar {
  align-items: center;
  background-color: #EBEBEB;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 22.5% auto 3%;
  height: 100px;
  padding: 0 30px;
}

.message-bar .title {
  font-size: 22px;
  font-weight: 200;
}

.message-bar .caption {
  font-size: 30px;
  font-weight: 900;
}

.message-bar .content {
  font-size: 16px;
  font-weight: 200;
}

.message-bar .dismiss {
  background: none;
  border: none;
  font-size: 24px;
  font-weight: 200;
  text-align: center;
}